body {
	font-family: 'Nunito', sans-serif;
}

footer {
	background: #eee;
	padding: 20px 0px 20px 0px;
	bottom: 0;
	width: 99vw;
	position: absolute;
	text-align: center;
}

.logo {
	height: 75%;
	width: 75%;
}

.order-link {
	font-size: 40px;
}

.order-link:hover {
	text-decoration: underline;
	color: #C92B14;
}

.back-link:hover {
	text-decoration: underline;
	color: #C92B14;
}

.back-link {
  margin-top: 50px;
	font-size: 16px;
}

.item-link {
  font-size: 40px;
  margin-left: 10px;
}

.button-main {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 100px;
    margin-top: 50px;
    cursor: pointer;
}

.button-main:hover {
    background-color: lightgreen; /* Green */
    color: black;
    border: solid 2px black;
    cursor: pointer;
}

fieldset {
    margin-top: 30px;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

.bg-white {
	--bg-opacity: 1;
	background-color: white;
	background-color: rgba(255, 255, 255, var(--bg-opacity))
}

.border-t {
	border-top-width: 1px
}

.flex {
	display: flex
}

.grid {
	display: grid
}

.hidden {
	display: none
}

.items-center {
	align-items: center
}

.justify-center {
	justify-content: center
}

.font-semibold {
	font-weight: 600
}

.h-5 {
	height: 1.25rem
}

.h-8 {
	height: 2rem
}

.h-16 {
	height: 4rem
}

.text-sm {
	font-size: .875rem
}

.text-lg {
	font-size: 1.125rem
}

.leading-7 {
	line-height: 1.75rem
}

.mx-auto {
	margin-left: auto;
	margin-right: auto
}

.ml-1 {
	margin-left: .25rem
}

.mt-2 {
	margin-top: .5rem
}

.mr-2 {
	margin-right: .5rem
}

.ml-2 {
	margin-left: .5rem
}

.mt-4 {
	margin-top: 1rem
}

.ml-4 {
	margin-left: 1rem
}

.mt-8 {
	margin-top: 2rem
}

.ml-12 {
	margin-left: 3rem
}

.-mt-px {
	margin-top: -1px
}

.max-w-6xl {
	max-width: 72rem;
}

.min-h-screen {
	min-height: 100%;
}

.overflow-hidden {
	overflow: hidden
}

.p-6 {
	padding: 1.5rem
}

.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem
}

.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem
}

.pt-8 {
	padding-top: 2rem
}

.fixed {
	position: fixed
}

.relative {
	position: relative
}

.top-0 {
	top: 0
}

.right-0 {
	right: 0
}

.shadow {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06)
}

.text-center {
	text-align: center
}

.text-gray-200 {
	--text-opacity: 1;
	color: #edf2f7;
	color: rgba(237, 242, 247, var(--text-opacity))
}

.text-gray-300 {
	--text-opacity: 1;
	color: #e2e8f0;
	color: rgba(226, 232, 240, var(--text-opacity))
}

.text-gray-400 {
	--text-opacity: 1;
	color: #cbd5e0;
	color: rgba(203, 213, 224, var(--text-opacity))
}

.text-gray-500 {
	--text-opacity: 1;
	color: #a0aec0;
	color: rgba(160, 174, 192, var(--text-opacity))
}

.text-gray-600 {
	--text-opacity: 1;
	color: #718096;
	color: rgba(113, 128, 150, var(--text-opacity))
}

.text-gray-700 {
	--text-opacity: 1;
	color: #4a5568;
	color: rgba(74, 85, 104, var(--text-opacity))
}

.text-gray-900 {
	--text-opacity: 1;
	color: #1a202c;
	color: rgba(26, 32, 44, var(--text-opacity))
}

.underline {
	text-decoration: underline
}

.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.w-5 {
	width: 1.25rem
}

.w-8 {
	width: 2rem
}

.w-auto {
	width: auto
}

.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr))
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.title {
  font-size: 50px;
  text-transform: uppercase;
  border-bottom: 2px solid;
  padding: 12px 0;
  color: #5e2195;
}

.wrapper{
  max-width: 1140px;
  padding: 10px;
  margin: 20px auto;
}

/* create pizza form */

.create-pizza{
  background: #f7f7f7;
  padding: 20px;

  label, select{
    display: block;
  }

  label{
    margin-top: 30px;
  }

  select{
    padding: 8px;
    width: 50%;
  }

  input[type=checkbox]{
    margin: 10px;
  }

  input[type=submit]{
    background: #5e2195;
    padding: 8px 20px;
    color: #fff;
    border: 0;
    margin-top: 20px;
  }

}

/* pizza details page */

.pizza-details{
  background: #f7f7f7;
  padding: 20px;

  p{
    margin: 20px 0;
    font-weight: bold;
  }
  button{
    background: #5e2195;
    padding: 8px 20px;
    color: #fff;
    border: 0;
    margin-top: 20px;
  }
}
a.back{
  display: block;
  text-align: center;
  margin-top: 30px;
  color: #5e2195;
  margin-bottom: 20px;
}

/* pizza index page */

.pizza-index{
  margin-bottom: 100px;

  h1{
    margin-bottom: 40px;
  }
  
  .pizza-item{
    margin: 10px 0;
    padding: 12px;
    background: #f4f4f4;
    img{
      width: 60px;
      display: inline-block;
    }
    h4{
      display: inline-block;
      font-weight: normal;
      margin-left: 20px;
      a{
        color: #777;
        text-decoration: none !important;
        font-size: 40px;
      }
    }
  }
}
